<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>네이버 지도 api 사용하기</title>
    <!--css-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--네이버지도 스크립트-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{CLIENT_ID}}"></script>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        지도 가져오기
    </header>
    <div id="map" style="width:50%;height:500px;"></div>
</body>
    <!--js-->
    <script src="../static/js/script.js"></script>
    <!--네이버지도 스크립트-->
    <script src="../static/js/geolocation.js"></script>
</html>